body{
height: auto;
width: 100%;
background-color: rgb(202, 204, 203)
}
.maindiv{
    margin: 90px;
    height: 90px;
    width: 900px;
    background-color: #2a70df;
}
.top{
    margin: 90px;
    height: auto;
    width: 900px;
    background: color #2a70df;;
}

.topleft{

    float: left;
    
}
.jjj{
    margin: 30px 30px;
}
